#root {
    height: 100%;
}

body {
    background-color:  rgb(80, 176, 255);
    /* overflow: hidden; */
}

.posts-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

