.post-container {
    width:18%;
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    padding: 2%;
    margin: 1%;
    font-family: 'Poppins', sans-serif;
}

.heading {
    height: 125px;
    text-align: center;
    display: flex;
    align-items: center;
}

.image {
    width: 100%;
    height: 200px;
}

.info {
    display: flex;
    justify-content: space-between;
}