.nav-wrapper {
    width:90vw;
    background-color: aliceblue;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1%;
    font-family: 'Poppins', sans-serif;
}

.logo {
    height: 70px;
    padding: 0 2%;
    text-align: center;
    display: flex;
    align-items: center;
}

.image {
    width: 100%;
    height: 200px;
}

.info {
    display: flex;
    justify-content: space-between;
}